
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}


.container {
	width: 90%;
	margin:	auto;
	
}

.parts {
	display: flex;
	margin-right: 2em;
}

.parts div {
	flex: 1;
}

.regNumberEntered {
	/* margin: 1em; */
	padding: 1em;
	border-radius: 0.5em;
	font-size: 1em;
}

.btn {
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	border-radius: 0.25em;
}

.blue {
	background-color: dodgerblue;
}

.message {
	height: 1em;
	font-weight: bold;
	color: crimson;
}

.regNumber {

	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;

}

input[type='radio'] {
	margin: 1em;
}

